<div mat-dialog-title class="headingContainer">
  <h2>Delete Imposter</h2>
<button mat-icon-button aria-label="close dialog" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
</div>
<br>
<mat-dialog-content>
  <p>Are you sure you want to delete this imposter?</p>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialogActionsButtons">
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Delete</button>
</mat-dialog-actions>