<h3>Environment Dependency Manager</h3><br>
<button class="btn btn-success">Add Dependency</button>
<hr>
<table class="table table-striped">  
    <thead>  
        <tr>  
          <th>Dependency Name</th>  
          <th>Protocol</th>  
          <th>Port</th>  
          <th># of Requests</th>
          <th>View</th>
          <th>Edit </th>    
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let imposter of imposterObject">  
        <td>{{ imposter.name }}</td>  
        <td>{{ imposter.protocol }}</td>  
        <td>{{ imposter.port }}</td>  
        <td>{{ imposter.numberOfRequests }}</td>
        <td><button 
            class="btn btn-primary" 
            (click)="onViewImposter(imposter.port)"
            >View</button></td>  
        <td><button 
            class="btn btn-default"
            >Edit</button></td>    
      </tr>  
    </tbody>  
  </table>
  <hr>
  <div style="font-weight: bold;">
    Dependency Request Stub: 
    {{ viewDependency.name }}
  </div>
  <br><br>
  <pre>{{ viewDependency | json }}</pre>

  

