<form [formGroup]="predicateForm" (ngSubmit)="onSubmit()">
  <div
    style="
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #dcdcdc;
    "
  >
    <div
      style="
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 5px;
        padding-top: 5px;
      "
    >
      <h3
        style="
          margin-right: auto;
          padding-left: 15px;
          padding-top: 5px;
          font-weight: bold;
        "
      >
        New Predicate
      </h3>
      <button mat-icon-button color="basic" (click)="onDelete()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px">
      <div>
        <label>Operator:</label>
        <select
          name="operator"
          required
          class="form-control"
          #options
          formControlName="operator"
        >
          <option *ngFor="let o of operator" [value]="o.name">
            {{ o.name }}
          </option>
        </select>
      </div>
      <br />

      <!-- This is to handle and/or operators which can be consider for a future enhancement -->
      <!-- <div [hidden]="options.value == 'or' || options.value == 'and' ? false : true">
                <br><label>Select Operator to compare: </label>
                <select name="newOperator" required class="form-control" #secondOperator formControlName="newOperator">
                    <option *ngFor="let opt of newOperator" [value]="opt.name">{{opt.name}}</option>
                </select>
            </div><br> -->

      <div>
        <label>Method:</label>
        <select
          name="method"
          required
          class="form-control"
          formControlName="method"
          #method
          (change)="onMethodChange($event.target.value)"
        >
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
      </div>
      <br />

      <div>
        <label>Path:</label>
        <br /><select
          name="path"
          class="form-control"
          formControlName="path"
          #path
        >
          <option *ngFor="let path of genericPath" [value]="path">
            {{ path }}
          </option>
        </select>
        <div [hidden]="path.value == 'other' ? false : true">
          <br /><input
            type="text"
            name="newPath"
            [required]="path.value == 'other'"
            class="form-control"
            formControlName="newPath"
            #newPath
            placeholder="ex. /agent"
          />
        </div>
      </div>
      <br />

      <div *ngIf="method.value === 'GET' || method.value === 'DELETE'">
        <label>Query:</label>
        <input
          type="text"
          #query
          name="query"
          required
          class="form-control"
          formControlName="query"
          placeholder='ex. { "id": 1 }'
        />
        <p *ngIf="predicateForm.get('query').errors && 
                  predicateForm.get('query').hasError('invalidJson')"
          style="margin: 0; color:red;">
          <br>
          *Invalid JSON
        </p>
        <p *ngIf="protocol && query.value">
          <br>
          {{ protocol }}://localhost:{{ port }}{{ path.value !== 'other' ? path.value : newPath.value }}{{ getFormatedQuery(query.value) }}
        </p>
      </div>
      <label>Headers:</label>
      <br />
      <textarea
        name="body"
        required
        class="form-control"
        formControlName="headers"
        style="resize: none"
        placeholder="{}"
      ></textarea>
      <br>
      <p *ngIf="predicateForm.get('headers').errors && 
              predicateForm.get('headers').hasError('invalidJson')"
          style="margin: 0; color:red;">
        *Invalid JSON
      </p>
      <br>
      <div *ngIf="method.value === 'POST' || method.value === 'PUT'">
        <label>Body:</label>
        <input
          type="text"
          #query
          name="body"
          required
          class="form-control"
          formControlName="body"
          placeholder='ex. { "name": "John Doe" }'
        />
        <br>
        <p *ngIf="predicateForm.get('body').errors && 
                predicateForm.get('body').hasError('invalidJson')"
            style="margin: 0; color:red;">
            *Invalid JSON
        </p>
      </div>
    </div>
  </div>
</form>
<br />
