
::-webkit-scrollbar {
    display: none;
  }
  
/* Set the width of the modal */
.modal-dialog {
    max-width: 800px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 0;
  margin-top: 20px;
}